# Configuration file for fw_(printenv/setenv) utility.
#
# 'Device offset' is taken from the CONFIG_ENV_OFFSET value
#
# 'Env. size' is taken from the CONFIG_ENV_SIZE value
#
# 'Flash sector size' and 'Number of sectors' are not required for this EXT4 FS configuration,
# but I'm leaving their headers because at some point a future device will need to specify them
# and I want to remember that they exist.

# EXT4
# MTD device name	    Device offset   Env. size	Flash sector size	Number of sectors
/envar/uboot.env  0x0000          0x2800
