/*
 * at91sam9g20isis.dts - Device Tree file for Kubos Linux on ISIS iOBC board (at91sam9g20isis)
 *
 * Copyright (C) 2012 Jean-Christophe PLAGNIOL-VILLARD <plagnioj@jcrosoft.com>
 *
 * Licensed under GPLv2.
 * 
 * Modified for Kubos Linux:
 *   This file was originally based on the at91sam9*.dts* files and has been modified
 *   for the at91sam9g20isis board.
 *   Changes - 
 *     Added NOR flash configuration
 *     Updated SDRAM size
 *     Updated watchdog pin definition
 *     Added SD card power pin definition
 * Author: Catherine Freed <catherine@kubos.co>
 */
/dts-v1/;
#include "at91sam9g20.dtsi"

/ {
	model = "Kubos at91sam9g20isis";
	compatible = "kubos,at91sam9g20isis", "atmel,at91sam9g20", "atmel,at91sam9";

	leds {
		compatible = "gpio-leds";

		ds1 {
			label = "ds1";
			linux,default-trigger = "heartbeat";
			gpios = <&pioC 12 GPIO_ACTIVE_HIGH>;
		};
		
		ds2 {
			label = "ds2";
			linux,default-trigger = "disk-activity";
			gpios = <&pioC 13 GPIO_ACTIVE_HIGH>;
		};
		
		ds3 {
			label = "ds3";
			gpios = <&pioC 14 GPIO_ACTIVE_HIGH>;
		};
		
		ds4 {
			label = "ds4";
			gpios = <&pioC 15 GPIO_ACTIVE_HIGH>;
		};
		mmc-power {
			label = "mmc-power";
			gpios = <&pioB 6 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	chosen {
		bootargs = "mem=32M console=ttys0,115200 root=/dev/mtdblk0p6";
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0x20000000 0x2000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <18432000>;
		};
	};

	ahb {
		apb {
			pinctrl@fffff400 {
				board {
					pinctrl_pck0_as_mck: pck0_as_mck {
						atmel,pins =
							<AT91_PIOC 1 AT91_PERIPH_B AT91_PINCTRL_NONE>;	/* PC1 periph B */
					};

				};

				mmc0_slot0 {
					pinctrl_board_mmc0_slot0: mmc0_slot0-board {
						atmel,pins =
							<AT91_PIOC 2 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;	/* PC2 gpio CD pin pull up and deglitch */
					};
				};
			};

			dbgu: serial@fffff200 {
				status = "okay";
			};

			usart0: serial@fffb0000 {
				pinctrl-0 =
					<&pinctrl_usart0
					 &pinctrl_usart0_rts
					 &pinctrl_usart0_cts
					 &pinctrl_usart0_dtr_dsr
					 &pinctrl_usart0_dcd
					 &pinctrl_usart0_ri>;
				status = "okay";
			};

			usb1: gadget@fffa4000 {
				atmel,vbus-gpio = <&pioC 5 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};

			mmc0: mmc@fffa8000 {
				pinctrl-0 = <
					&pinctrl_board_mmc0_slot0
					&pinctrl_mmc0_slot0_cmd_dat0
					&pinctrl_mmc0_slot0_dat1_3>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <4>;
				};
			};

			ssc0: ssc@fffbc000 {
				status = "okay";
				pinctrl-0 = <&pinctrl_ssc0_tx>;
			};

			spi0: spi@fffc8000 {
				cs-gpios = <0>, <&pioC 11 0>, <0>, <0>;
			};

			shdwc@fffffd10 {
				atmel,wakeup-counter = <10>;
				atmel,wakeup-rtt-timer;
			};

			rtc@fffffd20 {
				atmel,rtt-rtc-time-reg = <&gpbr 0x0>;
				status = "okay";
			};

			watchdog@fffffd40 {
				compatible = "kubos,at91isis-wdt";
				timeout-sec = <1>;
				kubos,max-heartbeat = <50>;
				kubos,min-heartbeat = <10>;
    				kubos,watchdog-type = "hardware";
    				kubos,reset-type = "all";
				status = "okay";
			};

			gpbr: syscon@fffffd50 {
				status = "okay";
			};
		};

		nor0: nor_flash@10000000 {
			compatible = "cfi-flash";
			reg = <0x10000000 0x100000>;
			linux,mtd-name = "physmap-flash.0";
			bank-width = <16>;
			#address-cells = <1>;
			#size-cells = <1>;

		    	isisboot@0 {
				label = "isisboot";
				reg = <0x00000 0xa000>;
			};

			dtb@80000 {
				label = "dtb";
				reg = <0x80000 0x5000>;
			};
		};

		usb0: ohci@00500000 {
			num-ports = <2>;
			status = "okay";
		};
	};
};

