/*
 * Copyright (C) 2017 Kubos Corporation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/dts-v1/;

#include "am33xx-boneblack.dtsi"

/ {
	model = "Beaglebone Black";
	compatible = "kubos,bbb", "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";

};

&am33xx_pinmux {

	uart1_pins: pinmux_uart1_pins {
		pinctrl-single,pins = <
			0x184 (PIN_OUTPUT | MUX_MODE0)	/* TX  - P9.24 */
			0x180 (PIN_INPUT  | MUX_MODE0)	/* RX  - P9.26 */
			/* RTS/CTS conflicts with I2C2 */
		>;
	};

	uart2_pins: pinmux_uart2_pins {
		pinctrl-single,pins = <
			0x154 (PIN_OUTPUT | MUX_MODE1)	/* TX  - P9.21 */
			0x150 (PIN_INPUT  | MUX_MODE1)	/* RX  - P9.22 */
		>;
	};

	uart3_pins: pinmux_uart3_pins {
		pinctrl-single,pins = <
			0x164 (PIN_OUTPUT | MUX_MODE1)	/* TX  - P9.42 */
			0x0cc (PIN_OUTPUT | MUX_MODE6)	/* RTS - P8.34 */
			0x0c8 (PIN_INPUT  | MUX_MODE6)	/* CTS - P8.36 */
		>;
	};

	uart4_pins: pinmux_uart4_pins {
		pinctrl-single,pins = <
			0x074 (PIN_OUTPUT | MUX_MODE6)	/* TX  - P9.13 */
			0x070 (PIN_INPUT  | MUX_MODE6)	/* RX  - P9.11 */
			0x0d4 (PIN_OUTPUT | MUX_MODE6)	/* RTS - P8.33 */
			0x0d0 (PIN_INPUT  | MUX_MODE6)	/* CTS - P8.35 */
		>;
	};

	uart5_pins: pinmux_uart5_pins {
		pinctrl-single,pins = <
			0x0c0 (PIN_OUTPUT | MUX_MODE4)	/* TX  - P8.37 */
			0x0c4 (PIN_INPUT  | MUX_MODE4)	/* RX  - P8.38 */
			0x0dc (PIN_OUTPUT | MUX_MODE6)	/* RTS - P8.32 */
			0x0d8 (PIN_INPUT  | MUX_MODE6)	/* CTS - P8.31 */
		>;
	};


	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			0x158 (PIN_INPUT_PULLUP | MUX_MODE2)	/* SDA - P9.18 */
			0x15c (PIN_INPUT_PULLUP | MUX_MODE2)	/* SCL - P9.17 */
		>;
	};

	spi1_pins: pinmux_spi1_pins {
		pinctrl-single,pins = <
			0x190 (PIN_INPUT_PULLUP  | MUX_MODE3)	/* SCLK - P9.31 */
			0x194 (PIN_INPUT_PULLUP  | MUX_MODE3)	/* MISO - P9.29 */
			0x198 (PIN_OUTPUT_PULLUP | MUX_MODE3)	/* MOSI - P9.30 */
			0x19c (PIN_OUTPUT_PULLUP | MUX_MODE3)	/* CS0  - P9.28 */
		>;
	};

};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;

	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins>;
	status = "okay";
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
        ti,spi-num-cs = <1>;
        cs-gpios = <&gpio3 17 0>, <&gpio0 7 0>;

	status = "okay";

        spidev@0 {
		spi-max-frequency = <24000000>;
		reg = <0>;
		compatible = "spidev";
        };
};

&tscadc {
	status = "okay";
	adc {
		ti,adc-channels = <0 1 2 3 4 5 6>;
		ti,chan-step-avg = <0x16 0x16 0x16 0x16 0x16 0x16 0x16>;
		ti,chan-step-opendelay = <0x98 0x98 0x98 0x98 0x98 0x98 0x98>;
		ti,chan-step-sampledelay = <0x0 0x0 0x0 0x0 0x0 0x0 0x0>;
	};
};


